<%= render "partials/banner" %>

<div class="container">
  <% @movies.each do |movie| %>
    <div class="card my-5">
      <div class="row g-0 d-flex align-items-center">
        <div class="col-md-4 card-image", style="background-image: url(<%= image_path movie.poster_url %>)"></div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><%= movie.title %></h4>
            <p class="card-text"><%= movie.overview %></p>
            <p class="card-text"><small class="text-muted">Added <%= movie.created_at %></small></p>
            <p class="card-text"><%= movie.rating %>/10</p>
            <div class= "delete-btn">
              <%= link_to "+", bookmark_path(movie.bookmarks.ids.first), method: :delete, data: { confirm: "Sure?" } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="add-button">
    <%= link_to "+", new_list_bookmark_path(@list) %>
  </div>
</div>
